body {
    font-family: Arial, sans-serif;
    background-color: hwb(256 4% 0%);
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

#candle-display {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: rgb(255, 242, 231);
}


#color-swatches {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

div[id^="swatch"] {
    width: 40px;
    height: 40px;
    border: 2px solid hwb(0 0% 100%);
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.swatch:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    margin-top: 20px;
}
